

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    ;
  
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    height: 3rem;
    text-transform: uppercase;
    flex-direction: row;
    
   
    
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul{
 list-style: none;
 display: flex;
 gap: 4rem;
margin-left: 6rem;
font-size: large;
}
.hr1{
 
 background-color: black;
 height: 5px;
 
 width: 75%;
 border: none;
}
.hr2{
  display: flex;

  background-color: black;
  height: 5px;
  color: black;
  width: 60rem;
margin-right: 50rem;
}


.brand{
  display: flex;
  margin-left: 15rem;
  font-size:x-large;
  
}
.searchbar{
  margin-left: 25rem;

}


.home-backround{
  background-image: linear-gradient(90deg,
     black 15%,
     transparent 50%,
     transparent 50%,
     black 95%) ,
     url("earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    height: 50rem;
   
    color: white;
}
.top-left {  
  display: flex;
  flex-direction: row;
  max-width: 20rem;
  padding-top: 10rem;
  padding-left: 10rem;
  font-size: 50px;

}

/* Bottom right text */
.bottom-right {
  display: flex;
  flex-direction: row;
  max-width: 18rem;
  padding-left: 90rem;
  padding-top: 10rem;
  font-size: 50px;

}

.container1{
        display: flex;
        flex-direction: column;
        align-items:first baseline;
        justify-items: center;
        margin-left: 10rem;
    }
.container2{
    display: flex;
    margin-top: 20rem;
}


.container3{
    display: flex;
    
   
}

  .container4 {
    position: relative;
    text-align: center;
    color: white;
  }
  .aboutusimg1{
    display: flex;
    background-size: cover;
    
    width: 37rem;
    flex-direction: column;
    
    position: absolute;
    transform: scaleX(-1);
    left: 75rem;
  }
  .aboutusimg2{
    display: flex;
    background-size: cover;
    
    width: 27rem;
    flex-direction: column;
    
    position: absolute;
    margin-top: 14rem;
    margin-left: 10rem;
    
   
  }
 .aboutus{
  display: flex;
  flex-direction: row;
  max-width: 55rem;
  margin-left: 15rem;
  font-size:22px;
  
 }

 .aboutus1{
  display: flex;
  flex-direction: row;
  max-width: 30rem;
 margin-left: 40rem;
 margin-top: 4rem;
 font-size:22px;
  
 }
 .aboutus2{
  display: flex;
  flex-direction: row;
  max-width: 30rem;
margin-left: 40rem;
margin-top: 3rem;
font-size:22px;
 }
.intro{
  display: flex;
 flex-direction: column;
justify-content: center;
margin-top: 5rem;
font-size:50px;
font-weight: 400;
text-transform: uppercase;

}
.ourproducts{
  display: flex;
}
  /* Top left text */
  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    
  }
  .card {
   
   display: flex;
   flex-direction: column;
   background-size: cover;
    width: 30rem;
    height:fit-content;
    background-size: cover;
    padding-top: 10rem;
    overflow: hidden;
  padding-left: 6rem;
    
    
  }
